/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 66, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/************************************************************************************
*************************************************************************************

							         BANNER

************************************************************************************
************************************************************************************/
/* line 26, ../scss/breakpoints/_481up.scss */
.heroImg {
  height: 40vw;
}

/* line 29, ../scss/breakpoints/_481up.scss */
.blogHero {
  height: 53vw !important;
}

/************************************************************************************
*************************************************************************************

							      BLOG POSTS

************************************************************************************
************************************************************************************/
/* line 41, ../scss/breakpoints/_481up.scss */
.blogWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 48, ../scss/breakpoints/_481up.scss */
.blogWrap .blogPreview {
  width: 48%;
}

/************************************************************************************
*************************************************************************************

							      LIBRARY POSTS

************************************************************************************
************************************************************************************/
/* line 61, ../scss/breakpoints/_481up.scss */
.libraryWrap {
  max-width: 1240px;
  padding: 3vw 5vw 5vw 5vw;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 70, ../scss/breakpoints/_481up.scss */
.libraryWrap .libraryPreview {
  width: 50%;
  min-width: 210px;
  padding: 1vw;
}

/********* STRIP FORM

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 20, ../scss/breakpoints/_768up.scss */
.postContent::first-letter {
  padding: 0px 15px 0px 0px;
  font-size: 5.8em;
  margin: 0px 0px -17px 0px !important;
}

/************************************************************************************
*************************************************************************************

							      BLOG POSTS

************************************************************************************
************************************************************************************/
/* line 36, ../scss/breakpoints/_768up.scss */
.blogWrap .blogPreview {
  width: 31%;
}

/* line 43, ../scss/breakpoints/_768up.scss */
.blogHome .blogPreview .blogPimg {
  height: 550px;
}

/************************************************************************************
*************************************************************************************

							      LIBRARY POSTS

************************************************************************************
************************************************************************************/
/* line 58, ../scss/breakpoints/_768up.scss */
.libraryWrap .libraryPreview {
  width: 25%;
  min-width: 210px;
}

/************************************************************************************
*************************************************************************************

							      GENERAL COLs

************************************************************************************
************************************************************************************/
/* line 73, ../scss/breakpoints/_768up.scss */
.twoSec .twoCont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1250px;
  margin: auto;
}
/* line 85, ../scss/breakpoints/_768up.scss */
.twoSec .twoCont .twoDiv {
  height: 300px;
  width: 49%;
  margin: 5px 5px;
}

/* line 92, ../scss/breakpoints/_768up.scss */
.threeSec .threeCont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1250px;
  margin: auto;
}
/* line 106, ../scss/breakpoints/_768up.scss */
.threeSec .threeCont .threeDiv {
  height: 300px;
  width: 32%;
  margin: 5px 5px;
}

/* line 114, ../scss/breakpoints/_768up.scss */
.fourSec .fourCont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1250px;
  margin: auto;
}
/* line 126, ../scss/breakpoints/_768up.scss */
.fourSec .fourCont .fourDiv {
  margin: 5px 5px;
  height: 300px;
  width: 24%;
  min-width: 180px;
}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/
/********* GENERAL SYLES ***********/
/* line 149, ../scss/breakpoints/_768up.scss */
.contact .floatLeft {
  width: 50%;
  float: left;
}
/* line 152, ../scss/breakpoints/_768up.scss */
.contact .floatLeft p {
  text-align: center;
}
/* line 154, ../scss/breakpoints/_768up.scss */
.contact .floatRight {
  width: 50%;
  float: right;
}

/********* BOX FORM ***********/
/* line 162, ../scss/breakpoints/_768up.scss */
.boxContact {
  width: 100%;
}
/* line 163, ../scss/breakpoints/_768up.scss */
.boxContact input[type="text"] {
  width: 49%;
  margin: 0px;
}

/* line 167, ../scss/breakpoints/_768up.scss */
.boxContact textarea {
  float: right;
  width: 49% !important;
  height: 212px;
  margin-top: -167px;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 14, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 1040px;
}

/************************************************************************************
*************************************************************************************

							     HOME NAVIGATION

************************************************************************************
************************************************************************************/
@media (min-width: 1120px) {
  /* line 29, ../scss/breakpoints/_1030up.scss */
  .social {
    float: right;
    width: auto;
    margin: 0px 0px 0px 10px;
  }

  /* line 37, ../scss/breakpoints/_1030up.scss */
  header {
    height: 60px;
  }

  /* line 40, ../scss/breakpoints/_1030up.scss */
  header.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 47, ../scss/breakpoints/_1030up.scss */
  header::before {
    content: 'desktop';
  }

  /* line 50, ../scss/breakpoints/_1030up.scss */
  #sub-nav {
    padding-top: 10px;
  }

  /* line 53, ../scss/breakpoints/_1030up.scss */
  .cd-logo {
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    z-index: 2;
  }

  /* line 59, ../scss/breakpoints/_1030up.scss */
  .cd-logo img {
    width: 313px;
  }

  /* line 62, ../scss/breakpoints/_1030up.scss */
  .cd-nav-trigger {
    display: none;
  }

  /* line 66, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav {
    position: static;
    visibility: visible;
    margin-top: 10px !important;
    width: 100%;
    height: 60px;
    /* padding left = logo size + logo left position*/
    padding: 0 1% 0 calc(5% + 124px);
    background: transparent;
    text-align: right;
  }

  /* line 77, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav li {
    display: inline-block;
    height: 100%;
    padding: 0 .2em;
  }

  /* line 82, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav li a {
    display: inline-block;
    padding: .8em;
    line-height: 1;
    font-size: .9rem;
    outline: 0 !important;
    border-bottom: none;
    /* Prevent .cd-subnav-trigger flicker is Safari */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

  /* line 101, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav li a:not(.cd-subnav-trigger):hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: .6;
    outline: 0 !important;
  }

  /* line 107, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav .go-back {
    display: none;
  }

  /* line 110, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav .cd-subnav-trigger {
    z-index: 1;
    border-radius: 5em;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s;
    outline: 0 !important;
  }

  /* line 118, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav .cd-subnav-trigger:hover {
    border-color: rgba(255, 255, 255, 0.4);
    outline: 0 !important;
  }

  /* line 122, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
    top: 19px;
    right: 14px;
    outline: 0 !important;
    background-color: #ffffff;
    outline: 0 !important;
    /* change transform-origin to rotate the arrow */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s, right 0.3s;
    transition: transform 0.3s, width 0.3s, right 0.3s;
  }

  /* line 141, ../scss/breakpoints/_1030up.scss */
  .cd-subnav-trigger:hover {
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: .6;
  }

  /* line 151, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav .cd-subnav-trigger::before {
    right: 20px;
    outline: 0 !important;
  }

  /* line 155, ../scss/breakpoints/_1030up.scss */
  .subPad {
    margin-right: 4.5em;
  }

  /* line 157, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav .cd-subnav-trigger, .cd-main-nav .placeholder {
    padding-right: 2.4em;
    padding-left: 1.1em;
    outline: 0 !important;
  }

  /* line 162, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav li ul {
    height: 60px;
    background-color: #000000;
    /* padding left = logo size + logo left position*/
    padding: 0 5% 0 calc(5% + 124px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: -webkit-transform 0.3s 0.2s;
    -moz-transition: -moz-transform 0.3s 0.2s;
    transition: transform 0.3s 0.2s;
  }

  /* line 176, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav li ul li {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, opacity 0.3s 0s;
  }

  /* line 187, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav .placeholder {
    /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
    display: block;
    visibility: hidden;
    opacity: 0;
    pointer-event: none;
  }

  /* line 194, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav.moves-out > li > a {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  /* line 202, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav.moves-out > li > ul {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 212, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav.moves-out > li ul li {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
    -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
    transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  }

  /* line 223, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
    width: 12px;
    right: 15px;
  }

  /* line 228, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav.moves-out .cd-subnav-trigger::before {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  /* line 235, ../scss/breakpoints/_1030up.scss */
  .cd-main-nav.moves-out .cd-subnav-trigger::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  /* line 242, ../scss/breakpoints/_1030up.scss */
  .cd-main-content::before {
    content: 'desktop';
  }

  /* line 245, ../scss/breakpoints/_1030up.scss */
  .cd-main-content {
    padding-top: 60px;
  }

  /* line 248, ../scss/breakpoints/_1030up.scss */
  .cd-main-content.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 255, ../scss/breakpoints/_1030up.scss */
  .no-js .cd-main-nav {
    height: 60px;
  }

  /* line 258, ../scss/breakpoints/_1030up.scss */
  .no-js .cd-main-nav li ul {
    position: absolute;
    top: 60px;
  }

  /* line 262, ../scss/breakpoints/_1030up.scss */
  .no-js .cd-main-nav li ul li {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  /* line 270, ../scss/breakpoints/_1030up.scss */
  .no-js .cd-main-nav li ul li:last-child {
    display: none;
  }

  /* line 274, ../scss/breakpoints/_1030up.scss */
  .no-js .cd-main-content {
    padding-top: 60px;
  }
}
/************************************************************************************
*************************************************************************************

							       BLOG

************************************************************************************
************************************************************************************/
/* line 287, ../scss/breakpoints/_1030up.scss */
.homeHeadContent {
  padding-top: 3vw;
}

/* line 289, ../scss/breakpoints/_1030up.scss */
.blogWrap {
  padding: 3vw 5vw 5vw 5vw;
}

/* line 290, ../scss/breakpoints/_1030up.scss */
.privacy, .terms {
  padding: 1vw 5vw 5vw 5vw;
}

/* line 293, ../scss/breakpoints/_1030up.scss */
.blogHomeM .blogPreview {
  margin: 15px 0px;
}
/* line 295, ../scss/breakpoints/_1030up.scss */
.blogHomeM .blogPreview .blogPimg {
  height: 550px;
}
/* line 298, ../scss/breakpoints/_1030up.scss */
.blogHomeM .blogPreview .homeWrap {
  bottom: 140px;
  left: 60px;
}

/* line 305, ../scss/breakpoints/_1030up.scss */
.blogHome .blogPreview {
  margin: 15px 0px;
}
/* line 307, ../scss/breakpoints/_1030up.scss */
.blogHome .blogPreview .blogPimg {
  height: 550px;
}
/* line 310, ../scss/breakpoints/_1030up.scss */
.blogHome .blogPreview .homeWrap {
  bottom: 140px;
  left: 60px;
}

/************************************************************************************
*************************************************************************************

							     FOOTER

************************************************************************************
************************************************************************************/
/* line 324, ../scss/breakpoints/_1030up.scss */
.footNav {
  padding: 8px 20px 10px 20px;
}
/* line 326, ../scss/breakpoints/_1030up.scss */
.footNav .fLogo {
  position: relative;
  z-index: 999;
  margin: 0px !important;
  width: 313px;
}
/* line 332, ../scss/breakpoints/_1030up.scss */
.footNav ul {
  float: right;
  padding-top: 8px;
  margin-top: -45px;
}

/************************************************************************************
*************************************************************************************

							     HOME BODY

************************************************************************************
************************************************************************************/
/* line 351, ../scss/breakpoints/_1030up.scss */
.homeArticle {
  padding: 80px 400px 80px 80px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
