/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/



.wrap {
  width: 1040px;
}



/************************************************************************************
*************************************************************************************

							     HOME NAVIGATION

************************************************************************************
************************************************************************************/
@media (min-width: 1120px) {

.social {
	float: right;
    width: auto;
    margin: 0px 0px 0px 10px;
}



  header {
    height: 60px;
  }
  header.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  header::before {
    content: 'desktop';
  }
#sub-nav{
	padding-top: 10px;
}
  .cd-logo {
	display: inline-block;
	  margin-left: 15px;
    position: absolute;
    z-index: 2;
  }
  .cd-logo img {
    width: 313px;
  }
.cd-nav-trigger {
    display: none;
  }

.cd-main-nav {
    position: static;
    visibility: visible;
	margin-top: 10px !important;
    width: 100%;
    height: 60px;
    /* padding left = logo size + logo left position*/
    padding: 0 1% 0 calc(5% + 124px);
    background: transparent;
    text-align: right;
  }
  .cd-main-nav li {
    display: inline-block;
    height: 100%;
    padding: 0 .2em;
  }
  .cd-main-nav li a {
    display: inline-block;
    padding: .8em;
    line-height: 1;
    font-size: .9rem;
	outline: 0 !important;
    border-bottom: none;
    /* Prevent .cd-subnav-trigger flicker is Safari */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-main-nav li a:not(.cd-subnav-trigger):hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: .6;
	outline: 0 !important;
  }
  .cd-main-nav .go-back {
    display: none;
  }
  .cd-main-nav .cd-subnav-trigger {
    z-index: 1;
    border-radius: 5em;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s;
	outline: 0 !important;
  }
  .cd-main-nav .cd-subnav-trigger:hover {
    border-color: rgba(255, 255, 255, 0.4);
	outline: 0 !important;
  }
  .cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
    top: 19px;
    right: 14px;
	outline: 0 !important;
    background-color: #ffffff;
	  outline: 0 !important;
    /* change transform-origin to rotate the arrow */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s, right 0.3s;
    transition: transform 0.3s, width 0.3s, right 0.3s;
  }


.cd-subnav-trigger:hover {
	 -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
	    opacity: .6;
}




  .cd-main-nav .cd-subnav-trigger::before {
    right: 20px;
	outline: 0 !important;
  }
.subPad {margin-right: 4.5em;}

  .cd-main-nav .cd-subnav-trigger, .cd-main-nav .placeholder {
    padding-right: 2.4em;
    padding-left: 1.1em;
	outline: 0 !important;
  }
  .cd-main-nav li ul {
    height: 60px;
    background-color: $black;
    /* padding left = logo size + logo left position*/
    padding: 0 5% 0 calc(5% + 124px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: -webkit-transform 0.3s 0.2s;
    -moz-transition: -moz-transform 0.3s 0.2s;
    transition: transform 0.3s 0.2s;
  }
  .cd-main-nav li ul li {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, opacity 0.3s 0s;
  }
  .cd-main-nav .placeholder {
    /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
    display: block;
    visibility: hidden;
    opacity: 0;
    pointer-event: none;
  }
  .cd-main-nav.moves-out > li > a {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-main-nav.moves-out > li > ul {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav.moves-out > li ul li {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
    -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
    transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  }
  .cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
    width: 12px;
    right: 15px;

  }
  .cd-main-nav.moves-out .cd-subnav-trigger::before {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  .cd-main-nav.moves-out .cd-subnav-trigger::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .cd-main-content::before {
    content: 'desktop';
  }
  .cd-main-content {
    padding-top: 60px;
  }
  .cd-main-content.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .no-js .cd-main-nav {
    height: 60px;
  }
  .no-js .cd-main-nav li ul {
    position: absolute;
    top: 60px;
  }
  .no-js .cd-main-nav li ul li {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .no-js .cd-main-nav li ul li:last-child {
    display: none;
  }

  .no-js .cd-main-content {
    padding-top: 60px;
  }

}
/************************************************************************************
*************************************************************************************

							       BLOG

************************************************************************************
************************************************************************************/

.homeHeadContent {  padding-top: 3vw;}

.blogWrap {padding: 3vw 5vw 5vw 5vw;}
.privacy, .terms { padding: 1vw 5vw 5vw 5vw;}

.blogHomeM {
	.blogPreview {
    margin: 15px 0px;
		.blogPimg {
			height: 550px;
				}
		.homeWrap {
    			bottom: 140px;
   				left: 60px;
		}}}


    .blogHome {
    	.blogPreview {
        margin: 15px 0px;
    		.blogPimg {
    			height: 550px;
    				}
    		.homeWrap {
        			bottom: 140px;
       				left: 60px;
    		}}}
/************************************************************************************
*************************************************************************************

							     FOOTER

************************************************************************************
************************************************************************************/



.footNav  {
padding: 8px 20px 10px 20px;
.fLogo {
		position: relative;
		z-index: 999;
		margin: 0px !important;
		width: 313px;
	}
	ul {
		float: right;
		padding-top: 8px;
		margin-top: -45px;
	}
}




/************************************************************************************
*************************************************************************************

							     HOME BODY

************************************************************************************
************************************************************************************/


.homeArticle {
	padding: 80px 400px 80px 80px;
}
