/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/



.blogHome {
	.blogPreview {
		margin: 15px 0px;
	}
}
