/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/


/************************************************************************************
*************************************************************************************

							         BANNER

************************************************************************************
************************************************************************************/
.heroImg {
	height: 40vw;
}
.blogHero {
	height: 53vw !important;
}

/************************************************************************************
*************************************************************************************

							      BLOG POSTS

************************************************************************************
************************************************************************************/

.blogWrap {

	@include flexbox;
	@include justify-content(space-around);
	@include flex-direction(row);
	@include flex-wrap(wrap);

	.blogPreview {
		width: 48%;

	}
}
/************************************************************************************
*************************************************************************************

							      LIBRARY POSTS

************************************************************************************
************************************************************************************/

.libraryWrap {
	max-width: $maxWidth;
	padding: $secPadding;
	margin: auto;
	@include flexbox;
	@include justify-content(space-around);
	@include flex-direction(row);
	@include flex-wrap(wrap);

	.libraryPreview {
		width: 50%;
		min-width: 210px;
		padding: 1vw;
	}
}


/********* STRIP FORM

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/
