/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

.postContent::first-letter {
	padding: 0px 15px 0px 0px;
	font-size: 5.8em;
	margin: 0px 0px -17px 0px !important;
}

/************************************************************************************
*************************************************************************************

							      BLOG POSTS

************************************************************************************
************************************************************************************/

.blogWrap {

	.blogPreview {
		width: 31%;
	}
}

.blogHome {
	.blogPreview {
		.blogPimg {
			height: 550px;
		}
	}
}

/************************************************************************************
*************************************************************************************

							      LIBRARY POSTS

************************************************************************************
************************************************************************************/

.libraryWrap {
	.libraryPreview {
		width: 25%;
		min-width: 210px;
	}
}
/************************************************************************************
*************************************************************************************

							      GENERAL COLs

************************************************************************************
************************************************************************************/


.twoSec {
	.twoCont {
		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;

  		-webkit-flex-flow: row;
  		justify-content: space-around;
		width: 100%;
		max-width: 1250px;
		margin: auto;
	.twoDiv {
		height: 300px;
		width: 49%;
 		margin: 5px 5px;
		}}}

.threeSec {
.threeCont {

  		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;


  		-webkit-flex-flow: row;
  		justify-content: space-around;
		width: 100%;
		max-width: 1250px;
		margin:auto;
	.threeDiv {
		height: 300px;
		width: 32%;
 		margin: 5px 5px;
		}
}}

.fourSec {
.fourCont {
  		display: -webkit-box;
 		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;

  		-webkit-flex-flow: row;
  		justify-content: space-around;
		width: 100%;
		max-width: 1250px;
		margin: auto;
	.fourDiv {

		margin: 5px 5px;
		height: 300px;
		width: 24%;
		min-width: 180px;

	}
	}}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/


/********* GENERAL SYLES ***********/

.contact {

		.floatLeft {
		width: 50%;
		float:left;
			p{text-align: center;}
		}
		.floatRight {
		width: 50%;
			float: right;}
		}


/********* BOX FORM ***********/

.boxContact {width: 100%;
	input[type="text"] {width: 49%;margin: 0px;}}



.boxContact textarea {
		float:right;
		width: 49% !important;
		height: 212px;
    	margin-top: -167px;
    	}
