/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
	line-height: 1.5;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans', sans-serif;
	min-width: 300px;
	background-color: white;
	overflow-x: hidden;
}

::-moz-selection { background: #000000; color: white; }
::selection { background: #000000;  color: white;}

#wrapper {
	max-width: 1440px;
	margin: auto;
	width: 100%;
	background-color: white;

}

.homeIndex {
	position: relative;
	z-index: 0;
}
* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}



#lato {font-family: $lato; font-weight: bold;}
#lora {font-family: $lora; font-weight: normal;}

h1 {
	font-family: $lora;
	font-weight: normal;
	letter-spacing: 1px;
	--max-size: 38;
 	 --min-size: 34;
 	 font-size: var(--responsive);
	color: white;
}

h2 {
	font-family: $lora;
	font-weight: normal;
	--max-size: 23;
 	 --min-size: 19;
 	 font-size: var(--responsive);
}

h3, .label-above .nf-field-label {
	letter-spacing: 3px !important;
	font-weight: bold !important;
	--max-size: 12 !important;
 	 --min-size: 10 !important;
 	 font-size: var(--responsive) !important;
	text-transform: uppercase !important;
}

h5 {
	font-family: $lato;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
	--max-size: 35;
 	 --min-size: 28;
 	 font-size: var(--responsive);
	color: white;
}

p {
	font-family: $lora;
	font-weight: normal;
	line-height: 1.9 !important;
	hyphens: none !important;
	--max-size: 16;
 	 --min-size: 14;
 	 font-size: var(--responsive);
}

a {
	outline: 0 !important;
}

/************************************************************************************
*************************************************************************************

							      HEADER BANNER

************************************************************************************
************************************************************************************/




.heroImg {
	width: 100%;
	height: 350px;
	@include transition(.5s);

}
.homeHeadContent {
	position: relative;
    display: block;
    margin: auto;
		padding-top: 5vw;
	h1 {
			text-align: center;
			color: black;
			margin: 0px;
			}
		h3 {
				text-align: center;
				color: black;
				margin: 0px;}
}

/************************************************************************************
*************************************************************************************

							      BLOG POSTS

************************************************************************************
************************************************************************************/

.postContent::first-letter {
 	font-family:serif;
 	line-height:1;
 	padding: 0px 10px 0px 0px;
	float:left;
	font-size: 4em;
	margin: 0px 0px -15px 0px !important;
}

.blogContent {
	width: 100%;
	max-width: $textMax;
	margin: auto;
	padding: $secPadding;

	h1 {
			text-align: center;
			color: black;
			margin: 0px 0px 10px 0px;}
		h3 {
				text-align: center;
				margin: 0px 0px 3vw 0px;}
	.postContent {
	p {
		margin: 22px 0px;
	}
	img {
		width: 100%;
		height: auto;
	}
	.ssba {
		font-family: 'Lora', serif;
		color: grey;
		font-weight: normal;
		letter-spacing: 1px;
		text-transform: uppercase;;
		font-size: .8em;
	}
}}
.blogPost {
	width: 100%;
	max-width: $maxWidth;
	margin: auto;
	.blogHero {
		margin-top: 49px !important;
	}
}

.wp-caption-text {
	margin: 0px !important;
	font-style: italic;
	text-align: right;
	--max-size: 14;
	--min-size: 12;
	font-size: var(--responsive);
}
 .blogHomeM {

	margin: auto;
	.blogPreview {
		width: 100%;
		.blogPimg {
			width: 100%;
			height: 300px;
			margin: -30px 0px -10px 0px !important;
		}
		.homeWrap {
			position: relative;
			bottom: 90px;
			left: 39px;
		h3 {
			color: white;
			margin: 30px 0px 10px 0px;}
		h2 {
			color: white;
			margin: 0px;}
		p {margin-top: 10px;}
		a {
			color: white;
		.readMoreB {
			    border: 2px solid white;
    			width: 150px;
    			padding: 0px;
			}
			h3 {
			text-align: center;
    		line-height: 7px;
			margin: 12px;}}
		}}
}

.blogWrap {
	max-width: $maxWidth;
	padding: 4vw 5vw 5vw 5vw;
	margin: auto;
	.blogPreview {
		width: 100%;
		margin-bottom: 30px;
		.blogPimg {
			width: 100%;
			height: 250px;
			margin-bottom: 10px;
		}
		a {color: black;}
		h3 {margin: 30px 0px 10px 0px;}
		h2 {margin: 0px;}
		p {margin-top: 10px;}
	}
}

.blogHome {
	max-width: 1000px;
	padding: 1vw 0px 0px 0px;
	margin: auto;
	.blogPreview {
		margin: 6px 0px;
		width: 100%;
		position: relative;
		.blogPimg {
			width: 100%;
			height: 350px;
			@include transition(.6s);
			.hBlogInfo {
			background-color: black;
			position: absolute;
			bottom: 0px;
			width: 100%;
			padding: 15px 0px 13px 22px;
		h3 {
      margin: 0px;
			color: white;
			}
		h2 {
			margin: 0px;
			color: white}
		p {
			margin-top: 10px;
			color: white;}
		a {
			color: white;
		.readMoreB {
			    border: 2px solid white;
    			width: 150px;
					padding: 6px;
					text-align: center;
			}
	}}
	}
	}}

.readMoreB:hover {
	opacity: .6 !important;
}

.readMoreB:hover {
	background: rgba(0,0,0, .4);
	@include transition(.5s);
}

/************************************************************************************
*************************************************************************************

							      LIBRARY

************************************************************************************
************************************************************************************/


.libraryWrap {
	max-width: $maxWidth;
	margin: auto;
	padding: $secPadding;
	.libraryPreview {

		width: 100%;
		a {outline: 0 !important;}
		.libImg {
			width: 100%;
			padding-bottom: 30px;
		}
	}
}

/************************************************************************************
*************************************************************************************

							      DONATE PAGE

************************************************************************************
************************************************************************************/
.donateSec {
	max-width: $maxWidth;
	margin: auto;
	.supportIntro {
		width: 100%;
		max-width: $textMax;
		margin: auto;
		p {text-align: center;}
	}
	.dPlug {
		padding: 3vw 0vw;
	}
}



/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/
/********* MAILCHIMP SYLES ***********/
#mc_embed_signup .mc-field-group {
	padding-bottom: 0% !important;
	width: 100% !important;
}



#mc_embed_signup .mc-field-group.input-group ul li {
	display: inline-block !important;
	margin-right: 20px;
}

#mc_embed_signup .mc-field-group.input-group label {
	    padding: 0px 20px 0px 7px !important;
}

#mc_embed_signup form {padding: 0px !important;}

.input-group {
    padding-bottom: 14px !important;
}

.nf-error-msg, .ninja-forms-req-symbol {
	display: none !important;}
/********* GENERAL SYLES ***********/



input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
	background-color: white;
	display: block;
	font-size: .9em;
	max-width: none !important;

}
a {text-decoration: none;}


.wpcf7 {
	width: 100%;
}


.contactForm {
	width: 100%;
	background-color: $black;
	color: white;

}

.contact {
	width: 95%;
	max-width: 1250px;
	padding: 15px;
	margin: auto;
	display: block;
	height: inherit;
}

textarea {padding: 10px;}

.contactForm input[type="text"], .contact select, .contact textarea, .contact.field {
	background-color: white !important;
	color: $black;
	border-radius: 8px;
	display:block;
	float: none;
	width: 100%;
	margin: auto;

}



/********* SIDE FORM & COPY ******

.contact {
	h1 {text-align:center;}
	div { width: 100%;
		display:block;
		margin: 0 auto;
		 }}

.floatLeft {
	width: 90%;
	float:none;

		h4 {text-align: center;
			width: 180px;
			display: block;
			margin: 0 auto;
			&:nth-child(1){
				border-bottom: 1px solid yellow;
				padding-bottom:10px;
				margin-bottom: 10px;}
			&:nth-child(2) {
				padding-top: 20px 0px 10px 0px;}}

		p{text-align: center;padding: 5%;}}

.floatRight {
	width: 90%;
	float: none;}

*****/

/************************************************************************************
*************************************************************************************

							     SUGGEST

************************************************************************************
************************************************************************************/

.nf-form-fields-required {display: none;}

.nf-field-element input, .nf-field-element select, .nf-field-element textarea {
	    border: 1px solid #ABB0B2;
    padding: 10px;
}

.field-wrap button, .field-wrap input[type=button], .field-wrap input[type=submit], #mc_embed_signup .button {
	clear: both;
    background-color: black !important;
    border: 0 none !important;
    border-radius: 3px !important;
    letter-spacing: 2px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px !important;
    height: 47px !important;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100% !important;
}
/************************************************************************************
*************************************************************************************

							     HOME BODY

************************************************************************************
************************************************************************************/

.homeArticle {
	padding: 40px;
	background-color: white;
	#firstP p::first-letter {
 	display: block;
    float: left;
    margin: -1px 8px 0 0;
    font-size: 70px;
    line-height: 70px;
    text-shadow: none;
}
}



/************************************************************************************
*************************************************************************************

							   ABOUT

************************************************************************************
************************************************************************************/




.aboutSec {
	.featured-wide {
					width: 100%;
					height: 460px;
					margin: 0 0 20px 0;
					background-size: cover !important;
    				background-repeat: no-repeat !important;

		.featured-quote {
			background-color: rgba(0,0,0,0.5);
			color: white;
			padding-top: 200px;
			height: 460px;
			h5 {text-align:center;
			    max-width: 800px;
    			margin: auto;}
			h3 {text-align:center;}
		}
	}
	.aboutCopy {
		width: 90%;
		max-width: 800px;
		margin: auto;
		#lora {color: grey;
			text-align:center;}
		p {text-align:center;}
	}
	.aboutContact {
		@include flexbox;
		@include flex-wrap(wrap);
		@include justify-content(space-around);
		padding: 40px 0px;
		.aContFlex {
			width: 30%;
			min-width: 240px;
			#lora {color: grey;
			text-align:center;}
			p {
				text-align: center;
				a {color: $black;}
			}

		}
	}


}

/************************************************************************************
*************************************************************************************

							  ADVERTISE

************************************************************************************
************************************************************************************/
.adBlock {
	margin-bottom: 100px;
	.adImg {
		width: 100%;
		padding: 2vw 5vw 5vw 5vw;
		img {
		width: 100%;
		max-width: 1000px;
		margin:auto;
		display: block;
		height: auto;
		}
		h3 {
			text-align: center;
			color: grey;
	    width: fit-content;
	    padding-bottom: 10px;
	    margin: 0px auto 30px auto;
	    border-bottom: 1px solid #ececec;}
	}
}

/************************************************************************************
*************************************************************************************

							     FOOTER

************************************************************************************
************************************************************************************/


.footNav {
	width: 100%;
	background-color: white;
	height: auto;
	padding: 8px 0px 10px 0px;
	border-top: 1px solid #ececec;
	position: absolute;
    z-index: 999;
	.fLogo {
		display: block;
		margin: 0 auto;
		width: 250px;
	}
	ul {
		margin: 0;
		text-align: center;
		margin-top: -4px;
		padding-top: 0px;
		li {
		color: $black;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 2px;
    	line-height: 26px;
    	font-size: 14px;
		margin: 0px 10px;
		font-family: $lato;
		font-weight: bold;
			a {color: $black;}
		}
	}
}
.footNav a:hover {
	color: #999999;
	@include transition(.5s);
}
/*********************
PRIVACY & TERMS PAGES
*********************/

.privacy, .terms {
	width: 100%;
	max-width: $textMax;
	padding: $secPadding;
	margin: auto;
	h1 {color: $black;}
	.privP {
		#lato {color: $black;}
	}
	.privInd {
		margin-left: 50px;
		#lato {color: grey;}
	}
}


/*********************
SUBSCRIBE PAGE
*********************/

.subscribe {
	padding: 40px;
	max-width: 800px;
	margin: auto;
}

/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/
header {
  position: fixed;
  z-index: 3;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
header.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
header::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}


.cd-logo {
  height: 100%;

  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-logo img {
  display: block;
  width: 250px;
  padding-top: 7px;
  margin: auto;
}


.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: -1px;
  height: 100%;
  width: 50px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span {
  /* hamburger icon created in CSS */
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin: 0px 0px 0px -8px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
  background-color: #ffffff;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}


.cd-main-nav {
  position: fixed;
  z-index: 1;
  top: -16px;
  right: 0;
  width: 260px;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  background: $black;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
}
.cd-main-nav a {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: .9em 2em .9em 2em;
  border-bottom: 1px solid $black;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.social {
	float: right;
    width: 50px;
    margin-right: 23px;

	a {
		padding: 10px !important;
		.fa {font-size: 1.2rem;}
	}
}
.cd-main-nav li ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(260px);
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  -o-transform: translateX(260px);
  transform: translateX(260px);
}
.cd-main-nav.nav-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-main-nav.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
.cd-main-nav.moves-out > li > ul {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-main-nav .cd-subnav-trigger, .cd-main-nav .go-back a {
  position: relative;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
  /* arrow icon in CSS */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}
.cd-main-nav .go-back a {
  padding-left: 2em;
}
.cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}
.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
  display: none;
}


.cd-main-content::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}


.cd-main-content {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  padding-top: 50px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}


.no-js .cd-nav-trigger, .no-js .cd-subnav-trigger {
  display: none;
}

.no-js header {
  position: relative;
  height: auto;
}

.no-js .cd-logo img {
  margin-bottom: 14px;
}

.no-js .cd-main-nav {
  position: static;
  width: 100%;
  height: auto;
  visibility: visible;
  overflow: visible;
}
.no-js .cd-main-nav li {
  display: inline-block;
}
.no-js .cd-main-nav li:last-child {
  display: block;
}
.no-js .cd-main-nav .go-back {
  display: none;
}
.no-js .cd-main-nav li ul {
  position: static;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}


.no-js .cd-main-content {
  padding-top: 0;
}

/************************************************************************************
*************************************************************************************

							     404

************************************************************************************
************************************************************************************/


.misW {
	background-color: white;
	min-height: 65vw;
	width: 100%;
#missing {

	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	min-height: 700px;
	width: 80%;
	max-width: 404px;

	h2 {
		text-align: center;
		margin: 0px auto;;
		font-size: 45px;
		width: 100%;

	}


	svg {
		width: 100px;
		margin: auto;
		.error {fill: black;}

	}

	}}



/*********************
CLEARFIX
*********************/


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
